@model IdealShop.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white text-center">
                    <h4>Customer Details</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FirstName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>
                    </dl>

                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
